{% extends 'base.html' %}
{% load static %}

{% block title %}Welcome to {{ SITE_NAME }}{% endblock %}

{% block content %}
<div class="container my-4">
    <h1>Welcome to {{ SITE_NAME }}</h1>
    <p>Your source for Urdu content including poetry, novels, stories, quotes, and more.</p>

    <div class="row">
        <div class="col-md-3">
            <a href="{% url 'poetry_list' %}" class="text-decoration-none">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Poetry</h5>
                        <p class="card-text">Explore beautiful Urdu poetry</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="{% url 'novel_list' %}" class="text-decoration-none">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Novels</h5>
                        <p class="card-text">Read engaging Urdu novels</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="{% url 'story_list' %}" class="text-decoration-none">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Stories</h5>
                        <p class="card-text">Enjoy short Urdu stories</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="{% url 'quote_list' %}" class="text-decoration-none">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Quotes</h5>
                        <p class="card-text">Inspiring Urdu quotes</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}