{% load static %}
<nav class="site-navbar">
    <div class="navbar-inner">
        <a href="{% url 'home' %}" class="navbar-brand">
            <img src="{% static 'images/nawab-logo.png' %}" alt="{{ SITE_NAME }}" class="navbar-logo">
            <span class="navbar-brand-text">{{ SITE_NAME }}</span>
        </a>

        <ul class="navbar-menu">
            <li><a href="{% url 'home' %}" class="navbar-link {% if request.path == '/' %}active{% endif %}">Home</a></li>
            <li><a href="{% url 'poetry_list' %}" class="navbar-link {% if '/poetry/' in request.path %}active{% endif %}">Poetry</a></li>
            <li><a href="{% url 'novel_list' %}" class="navbar-link {% if '/novels/' in request.path %}active{% endif %}">Novels</a></li>
            <li><a href="{% url 'story_list' %}" class="navbar-link {% if '/stories/' in request.path %}active{% endif %}">Stories</a></li>
            <li><a href="{% url 'quote_list' %}" class="navbar-link {% if '/quotes/' in request.path %}active{% endif %}">Quotes</a></li>
            <li><a href="{% url 'blog_list' %}" class="navbar-link {% if '/blog/' in request.path %}active{% endif %}">Blog</a></li>
            <li><a href="{% url 'video_list' %}" class="navbar-link {% if '/videos/' in request.path %}active{% endif %}">Videos</a></li>
            <li><a href="{% url 'all_categories' %}" class="navbar-link {% if '/categories/' in request.path %}active{% endif %}">Categories</a></li>
            <li><a href="{% url 'search' %}" class="navbar-link {% if '/search/' in request.path %}active{% endif %}">Search</a></li>
        </ul>
    </div>
</nav>
